In [6]:
import joblib
from platypus import *
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df = pd.read_excel(r"E:\Projects\UrbanHub\files\NewDataset.xlsx")
df

,ID,Green_space_ratio,Rotation,Main_street,Sub_street,Bldg_Footprint,Type,Bldg_Centroids_x,Bldg_Centroids_y,Lengths,...,Gas_Hot,Annual_Solar_Hours,Roof_radiation_Cold,Roof_radiation_Hot,SVF,Ave_UTCI_Cold,Ave_UTCI_Hot,Ave_Percent_of_Shaded_area,Total_EUI_Cold,Total_EUI_Hot
0,B0,0.2,0,20,10,0.6,1,20.000000,30.666667,22.000000,...,0.9,448638,1158.21,3071.83,82.19,-0.47,37.07,9,8.653,8.695
1,B1,0.2,0,20,10,0.6,1,10.000000,30.666667,22.000000,...,0.6,299175,1034.74,2696.77,82.19,-0.47,37.07,9,8.653,8.695
2,B2,0.2,0,20,10,0.6,1,20.000000,77.333333,22.000000,...,0.6,264846,1042.35,2689.40,78.23,-0.47,37.07,9,8.653,8.695
3,B3,0.2,0,20,10,0.6,1,10.000000,77.333333,22.000000,...,0.9,431566,1153.40,3056.60,78.23,-0.47,37.07,9,8.653,8.695
4,B4,0.2,0,20,10,0.6,1,20.000000,124.000000,22.000000,...,0.6,265691,1060.30,2746.95,76.76,-0.47,37.07,9,8.653,8.695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15891,P0,0.2,90,25,5,0.6,0,-13.333333,103.750000,18.333333,...,0.0,0,0.00,0.00,84.17,0.01,36.59,16,8.779,10.197
15892,P1,0.2,90,25,5,0.6,0,33.333333,103.750000,18.333333,...,0.0,0,0.00,0.00,70.53,0.01,36.59,16,8.779,10.197
15893,P2,0.2,90,25,5,0.6,0,10.000000,58.750000,18.333333,...,0.0,0,0.00,0.00,62.54,0.01,36.59,16,8.779,10.197
15894,P3,0.2,90,25,5,0.6,0,33.333333,36.250000,18.333333,...,0.0,0,0.00,0.00,73.99,0.01,36.59,16,8.779,10.197
15895,P4,0.2,90,25,5,0.6,0,103.333333,36.250000,18.333333,...,0.0,0,0.00,0.00,70.91,0.01,36.59,16,8.779,10.197

In [8]:
X = df[["Green_space_ratio", "Rotation", "Main_street", "Sub_street", "Bldg_Footprint", "Type", "Bldg_Centroids_x", "Bldg_Centroids_y",
        "Lengths", "Widths", "Stories", "Typology", "X", "Y", "Density", "Visibility"]]

y = df[["Cooling_Cold", "Heating_Cold", "Lighting_Cold", "Hot_water_Cold", "Gas_Cold", "Cooling_Hot", "Heating_Hot", "Lighting_Hot",
        "Hot_water_Hot", "Gas_Hot", "Annual_Solar_Hours", "Roof_radiation_Cold", "Roof_radiation_Hot", "Ave_UTCI_Cold",
        "Ave_UTCI_Hot", "Ave_Percent_of_Shaded_area", "Total_EUI_Cold", "Total_EUI_Hot"]]

In [9]:
X

,Green_space_ratio,Rotation,Main_street,Sub_street,Bldg_Footprint,Type,Bldg_Centroids_x,Bldg_Centroids_y,Lengths,Widths,Stories,Typology,X,Y,Density,Visibility
0,0.2,0,20,10,0.6,1,20.000000,30.666667,22.000000,10.000000,3,0,90,140,2.5,0.00
1,0.2,0,20,10,0.6,1,10.000000,30.666667,22.000000,10.000000,2,0,90,140,2.5,0.00
2,0.2,0,20,10,0.6,1,20.000000,77.333333,22.000000,10.000000,2,0,90,140,2.5,0.00
3,0.2,0,20,10,0.6,1,10.000000,77.333333,22.000000,10.000000,3,0,90,140,2.5,0.00
4,0.2,0,20,10,0.6,1,20.000000,124.000000,22.000000,10.000000,2,0,90,140,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15891,0.2,90,25,5,0.6,0,-13.333333,103.750000,18.333333,18.333333,0,0,90,140,6.5,3.29
15892,0.2,90,25,5,0.6,0,33.333333,103.750000,18.333333,18.333333,0,0,90,140,6.5,5.12
15893,0.2,90,25,5,0.6,0,10.000000,58.750000,18.333333,18.333333,0,0,90,140,6.5,5.01
15894,0.2,90,25,5,0.6,0,33.333333,36.250000,18.333333,18.333333,0,0,90,140,6.5,4.44
15895,0.2,90,25,5,0.6,0,103.333333,36.250000,18.333333,18.333333,0,0,90,140,6.5,6.04

In [10]:
y

,Cooling_Cold,Heating_Cold,Lighting_Cold,Hot_water_Cold,Gas_Cold,Cooling_Hot,Heating_Hot,Lighting_Hot,Hot_water_Hot,Gas_Hot,Annual_Solar_Hours,Roof_radiation_Cold,Roof_radiation_Hot,Ave_UTCI_Cold,Ave_UTCI_Hot,Ave_Percent_of_Shaded_area,Total_EUI_Cold,Total_EUI_Hot
0,4827.78164,4844.44832,2588.89096,0,130.55566,3100.00248,3116.66916,3.62,0.40,0.9,448638,1158.21,3071.83,-0.47,37.07,9,8.653,8.695
1,3236.11370,3247.22482,1575.00126,0,86.11118,2083.33500,2094.44612,2.75,0.46,0.6,299175,1034.74,2696.77,-0.47,37.07,9,8.653,8.695
2,3236.11370,3247.22482,1522.22344,0,86.11118,2083.33500,2097.22390,2.75,0.46,0.6,264846,1042.35,2689.40,-0.47,37.07,9,8.653,8.695
3,4833.33720,4850.00388,2544.44648,0,130.55566,3102.78026,3119.44694,3.62,0.40,0.9,431566,1153.40,3056.60,-0.47,37.07,9,8.653,8.695
4,3236.11370,3247.22482,1572.22348,0,86.11118,2083.33500,2094.44612,2.75,0.46,0.6,265691,1060.30,2746.95,-0.47,37.07,9,8.653,8.695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15891,0.00000,0.00000,0.00000,0,0.00000,0.00000,0.00000,0.00,0.00,0.0,0,0.00,0.00,0.01,36.59,16,8.779,10.197
15892,0.00000,0.00000,0.00000,0,0.00000,0.00000,0.00000,0.00,0.00,0.0,0,0.00,0.00,0.01,36.59,16,8.779,10.197
15893,0.00000,0.00000,0.00000,0,0.00000,0.00000,0.00000,0.00,0.00,0.0,0,0.00,0.00,0.01,36.59,16,8.779,10.197
15894,0.00000,0.00000,0.00000,0,0.00000,0.00000,0.00000,0.00,0.00,0.0,0,0.00,0.00,0.01,36.59,16,8.779,10.197
15895,0.00000,0.00000,0.00000,0,0.00000,0.00000,0.00000,0.00,0.00,0.0,0,0.00,0.00,0.01,36.59,16,8.779,10.197

In [11]:
model=joblib.load('XGB_model.joblib')

pre = pd.DataFrame([[ 0.2,0,20,10,0.6,1,20,30.666667,22,10,3,0,90,140,2.5,0 ]], columns=model.feature_names_in_)
model.predict(pre)

In [12]:
cooling_cold_min = 4000
cooling_cold_max = 5000

heating_cold_min = 4000
heating_cold_max = 5000

lighting_cold_min = 2000
lighting_cold_max = 3000

hotwater_cold_min = 0
hotwater_cold_max = 1

gas_cold_min = 100
gas_cold_max = 200

cooling_hot_min = 2500
cooling_hot_max = 3500

heating_hot_min = 2500
heating_hot_max = 3500

lighting_hot_min = 3
lighting_hot_max = 4

hotwater_hot_min = 0
hotwater_hot_max = 1

gas_hot_min = 0
gas_hot_max = 2

annual_solar_hours_min = 400000
annual_solar_hours_max = 450000

roof_dariation_cold_min = 1000
roof_dariation_cold_max = 1200

roof_dariation_hot_min = 3000
roof_dariation_hot_max = 3100

ave_utci_cold_min = -1
ave_utci_cold_max = 1

ave_utci_hot_min = 37
ave_utci_hot_max = 38

ave_shaded_min = 8.5
ave_shaded_max = 9.5

total_eui_cold_min = 8.5
total_eui_cold_max = 9.0

total_eui_hot_min = 8.5
total_eui_hot_max = 9.0

In [37]:
def optimize(input):

    Green_space_ratio = input[0]
    Rotation = input[1] #op
    Main_street = input[2] #op
    Sub_street = input[3] #op
    Bldg_Footprint = input[4] #op
    Type = input[5] #op
    Bldg_Centroids_x = input[6] #cal
    Bldg_Centroids_y = input[7] #cal
    Lengths = input[8] #remove
    Widths = input[9] #remove
    Stories = input[10] #model
    Typology = input[11]
    X = input[12]
    Y = input[13]
    Density = input[14]
    Visibility = input[15] #remove

    pr = [[Green_space_ratio, Rotation, Main_street, Sub_street, Bldg_Footprint, Type, Bldg_Centroids_x, Bldg_Centroids_y,
           Lengths, Widths, Stories, Typology, X, Y, Density, Visibility]]
    
    pr_df = pd.DataFrame(pr, columns=model.feature_names_in_)

    predicted = model.predict(pr_df)[0]

    objective0 = predicted[0]
    objective1 = predicted[1]
    objective2 = predicted[2]
    objective3 = predicted[3]
    objective4 = predicted[4]
    objective5 = predicted[5]
    objective6 = predicted[6]
    objective7 = predicted[7]
    objective8 = predicted[8]
    objective9 = predicted[9]
    objective10 = predicted[10]
    objective11 = predicted[11]
    objective12 = predicted[12]
    objective13 = predicted[13]
    objective14 = predicted[14]
    objective15 = predicted[15]
    objective16 = predicted[16]
    objective17 = predicted[17]
    
    #penalty functions
    if cooling_cold_min < objective0 < cooling_cold_max:
        selected0 = objective0
    else:
        selected0 = 100000000

    if heating_cold_min < objective1 < heating_cold_max:
        selected1 = objective1
    else:
        selected1 = 100000000

    if lighting_cold_min < objective2 < lighting_cold_max:
        selected2 = objective2
    else:
        selected2 = 100000000

    if hotwater_cold_min < objective3 < hotwater_cold_max:
        selected3 = objective3
    else:
        selected3 = 100000000

    if gas_cold_min < objective4 < gas_cold_max:
        selected4 = objective4
    else:
        selected4 = 100000000

    if cooling_hot_min < objective5 < cooling_hot_max:
        selected5 = objective5
    else:
        selected5 = 100000000

    if heating_hot_min < objective6 < heating_hot_max:
        selected6 = objective6
    else:
        selected6 = 100000000

    if lighting_hot_min < objective7 < lighting_hot_max:
        selected7 = objective7
    else:
        selected7 = 100000000

    if hotwater_hot_min < objective8 < hotwater_hot_max:
        selected8 = objective8
    else:
        selected8 = 100000000

    if gas_hot_min < objective9 < gas_hot_max:
        selected9 = objective9
    else:
        selected9 = 100000000

    if annual_solar_hours_min < objective10 < annual_solar_hours_max:
        selected10 = objective10
    else:
        selected10 = 100000000

    if roof_dariation_cold_min < objective11 < roof_dariation_cold_max:
        selected11 = objective11
    else:
        selected11 = 100000000

    if roof_dariation_hot_min < objective12 < roof_dariation_hot_max:
        selected12 = objective12
    else:
        selected12 = 100000000

    if ave_utci_cold_min < objective13 < ave_utci_cold_max:
        selected13 = objective13
    else:
        selected13 = 100000000

    if ave_utci_hot_min < objective14 < ave_utci_hot_max:
        selected14 = objective14
    else:
        selected14 = 100000000

    if ave_shaded_min < objective15 < ave_shaded_max:
        selected15 = objective15
    else:
        selected15 = 100000000

    if total_eui_cold_min < objective16 < total_eui_cold_max:
        selected16 = objective16
    else:
        selected16 = 100000000

    if total_eui_hot_min < objective17 < total_eui_hot_max:
        selected17 = objective17
    else:
        selected17 = 100000000

    return [selected0, selected1, selected2, selected3, selected4, selected5, selected6, selected7, selected8, selected9,
                selected10, selected11, selected12, selected13, selected14, selected15, selected16, selected17]

def X_var():
    # var0 = choose(0.2,0.4)
    # var1 = choose(0,45,90)
    # var2 = choose(15,20,25)
    # var3 = choose(5,10)
    # var4 = choose(0.6)
    # var5 = choose(0,1)
    # var6 = Real(-20.613617,115.799066)
    # var7 = Real(4.386383,140.799066)
    # var8 = Real(10,41.666667)
    # var9 = Real(8,41.666667)
    # var10 = choose(0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)
    # var11 = choose(0)
    # var12 = choose(90)
    # var13 = choose(140)
    # var14 = choose(2.5,4.5,6.5)
    # var15 = Real(0,28.23)
    
    var0 = Real(0.2,0.4)
    var1 = Real(0,90)
    var2 = Real(15,25)
    var3 = Real(5,10)
    var4 = Real(0.6,0.6)
    var5 = Real(0,1)
    var6 = Real(-20.613617,115.799066)
    var7 = Real(4.386383,140.799066)
    var8 = Real(10,41.666667)
    var9 = Real(8,41.666667)
    var10 = Real(0, 12)
    var11 = Real(0,0)
    var12 = Real(90,90)
    var13 = Real(140,140)
    var14 = Real(2.5,6.5)
    var15 = Real(0,28.23)
    
    return var0,var1,var2,var3,var4,var5,var6,var7,var8,var9,var10,var11,var12,var13,var14,var15

problem = Problem(16, 18)
problem.types[:] = X_var()
problem.function = optimize

algorithm = NSGAII(problem, variator=CompoundOperator(SSX(),SBX()))
algorithm.run(1)

In [38]:
algorithm.result
[...]

[Ellipsis]

In [39]:
for solution in unique(nondominated(algorithm.result)):
    p = solution.variables

p

[0.21602130761303803,
 57.934806774299105,
 19.692282380717813,
 9.497705285213716,
 0.6,
 0.6693257159485035,
 115.28159448585706,
 56.52722933274124,
 15.446483148029532,
 24.090161891227076,
 0.6488741490938721,
 0.0,
 90.0,
 140.0,
 2.699143091907557,
 25.66588820978161]

In [40]:
p_df = pd.DataFrame([p], columns=model.feature_names_in_)
print(model.predict(p_df))
p_df

[[ 7.1840791e+03  7.1610312e+03  1.5313716e+03  9.3942315e-15
   1.9509517e+02  4.6443872e+03  4.6910918e+03  3.0889003e+00
   5.2816856e-01  6.0001677e-01  6.0940212e+05  2.6816262e+03
   7.0923984e+03 -1.2489286e-01  3.6971424e+01  2.3015358e+01
   9.1351976e+00  1.0964139e+01]]

,Green_space_ratio,Rotation,Main_street,Sub_street,Bldg_Footprint,Type,Bldg_Centroids_x,Bldg_Centroids_y,Lengths,Widths,Stories,Typology,X,Y,Density,Visibility
0,0.216021,57.934807,19.692282,9.497705,0.6,0.669326,115.281594,56.527229,15.446483,24.090162,0.648874,0.0,90.0,140.0,2.699143,25.665888